:root {
    --focus-color: #fdd205; 
}



body {
    margin: 0; 
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    margin: 0; 
    font-size: 40px;  
    font-weight: normal;
}

h2 {
    margin: 0; 
    font-family: Verdana, sans-serif; 
    font-size: 50px; 
    font-weight: normal; 
    text-transform: uppercase; 
}

header {
    position: fixed; 
    top: 0; 
    z-index: 2;
    display: flex; 
    justify-content: space-between;
    padding: 20px 30px; 
    width: 100vw;  
    background-color: white; 
    font-family: Verdana, sans-serif; 
    text-transform: uppercase; 
    border-bottom: 1px dashed black;
}

.brand-name {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

#header-img {
    height: 50px; 
    width: 50px; 
}

#nav-bar {
    position: fixed;
    top: 0; 
    right: 1.5%; 
}

#nav-bar > ul {
    display: flex; 
    justify-content: space-between;
    gap: 20px; 
}

li {
    padding: 15px; 
    list-style: none;
    font-size: 25px; 
    background-color: var(--focus-color);
}

li > a {
    padding: 0; 
    text-decoration: none;
    color: white; 
}

li:hover {
    background-color: black; 
    transition: 0.3s;
    cursor: pointer;
}

#features {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap;
    margin: 50px 0px 100px;
    padding-bottom: 200px;  
    top: 150px; 
}

#collage {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    position: relative; 
    width: 824;
}

#product-image {

    grid-column: 1 / span 7; 
    grid-row: 1; 
    padding-top: 20%; 
    height: 600px; 
    z-index: 1; 
}


#portrait {
    grid-column: 4 / -1; 
    grid-row: 1; 
}


#features .ft-text {
    width: 800px; 
    text-transform: lowercase;
}

.ft-text > p {
    padding-left: 5px;
    font-size: 20px; 
}

.ft-text > p > span {
    font-style: italic; 
}

#how-it-works {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 50px; 
    padding: 150px 0px; 
    background-color: var(--focus-color);
}

#pricing {
    margin: 100px 0; 
}

#pricing > h2 {
    text-align: center; 
}

.card-container {
    display: flex; 
    justify-content: center;
    gap: 50px;
    margin-top: 50px; 
}

.card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px; 
    padding: 30px; 
    border: 1px solid black;
    
}
.card > h3, h4, p {
    margin: 0; 
}

.card > h3 {
    padding: 10px; 
    text-transform: uppercase;
    border: 1px dashed black;
}

.card > p {
    text-transform: lowercase;
}

.price {
    margin-bottom: 10px;
    padding: 5px; 
    background-color: var(--focus-color);
}

button {
    margin-top: 10px; 
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: var(--focus-color);
    transition: 0.3s; 
}

button:active {
    background-color: white;
}

#newsletter {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/newsletter-bg.jpg);
    background-size: cover; 
    height: 1000px; 
}

#newsletter > h2 {
    color: white; 
    text-shadow: 2px 2px 3px #000000ab;
}

form {
    margin: 20px; 
    padding: 50px 100px; 
    background-color: var(--focus-color);
}

input[type=email] {
    padding: 2px 5px; 
    width: 200px; 
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    border: 1px solid black; 
}

#submit {
    padding: 2px 5px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    border: 1px solid; 
    border-radius: 0;
}

#submit:hover {
    background-color: lightgrey;
    cursor: pointer;
    transition: 0.3s; 
}

#submit:active {
    background-color: white;
}

footer {
    padding: 20px; 
    text-align: center; 
    text-transform: lowercase;
}

footer > a {
    color: #272727; 
    font-weight: bold;
}

footer > a:hover {
    background-color: var(--focus-color);
    transition: 0.3s;
}
