:root {
    --focus-color: #fdd205; 
}


body {
    margin: 0; 
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    margin: 0; 
    font-size: 40px;  
    font-weight: normal;
}

h2 {
    margin: 0; 
    font-family: Verdana, sans-serif; 
    font-size: 50px; 
    font-weight: normal; 
    text-transform: uppercase; 
}

header {
    display: flex; 
    justify-content: space-between;
    padding: 20px 30px; 
    font-family: Verdana, sans-serif; 
    text-transform: uppercase; 
}

.brand-name {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

#header-img {
    height: 50px; 
    width: 50px; 
}

#nav-bar > ul {
    display: flex; 
    justify-content: space-between;
    gap: 20px; 
}

li {
    padding: 15px; 
    list-style: none;
    font-size: 25px; 
    background-color: var(--focus-color);
}

li > a {
    padding: 0; 
    text-decoration: none;
    color: white; 
}

li:hover {
    background-color: black; 
    transition: 0.3s;
    cursor: pointer;
}

#features {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 50px 30px 100px; 
}

#collage {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    position: relative; 
    width: 824;
}

#product-image {

    grid-column: 1 / span 7; 
    grid-row: 1; 
    padding-top: 20%; 
    height: 600px; 
    z-index: 1; 
}


#portrait {
    grid-column: 4 / -1; 
    grid-row: 1; 
}


#features .ft-text {
    margin-left: 20px; 
    width: 800px; 
}

.ft-text > p {
    font-size: 20px; 
}

.ft-text > p > span {
    font-style: italic; 
}

#how-it-works {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 50px; 
    padding: 150px 30px; 
    background-color: var(--focus-color);
}

